# Environment Variables
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Personal Links (Configurable)
CONTACT_EMAIL=exaucebanza04@gmail.com
CONTACT_WHATSAPP=243999255796
CONTACT_LINKEDIN=https://linkedin.com/in/exauce-banza-8387573a9
CONTACT_GITHUB=https://github.com/exaucebanza
CONTACT_GITLAB=https://gitlab.com/exaucebanza
